/* Home.css */
.home {
  font-family: 'Poppins', sans-serif -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue" , "Lora" ,"Teko";
}

.navbar {
  background-color: #05445E;
}

.services-section {
  background-color: #D4F1F4;
}

.card {
  border: none;
  background-color: #75E6DA;
  color: #05445E;
}

footer {
  background-color: #05445E;
}
